$colorTxt:#d0d5db;

.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  z-index: 1;
  border: 1px solid  #5d6d7e ;
  background: rgb(255, 255, 257, 0.2);
  box-shadow: 0 5px 5px rgba(0,0,0,.5);
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.img-content{
  display: flex;
  float: left;
  z-index: 1;
  width: 20%;
  height:220px;




  img{
  display: flex;
   width: 110px;
   height: 110px;
   line-height: 220px;
   margin-top: 50px;


  }

}

.mat-card-content{
  color: #333;
}

.mat-card-title{
  color: #333
}

.card-content{
  margin: 0 auto;
  display: flex;
  float:left;
  align-items: center;
  width: 35%;
  height: 218px;

  i{
    color: #8E44AD;
    font-size: 25px;
    margin-right: 5px;
    opacity: 0.5;
    }

}
table{
  width: 100%;
  align-items: center;
  text-align: left;


    td{
      width: 33%;
      height: 60px;
      border-bottom: 1px solid #b692c5;
      margin: 10px;


    }




}

.mat-list-item{
  width: 100%;
  border-bottom: 1px solid $colorTxt;
}




