$colorTxt: #d0d5db;

.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  z-index: 1;
  border: 1px solid #5d6d7e;
  background: rgb(255, 255, 257, 0.2);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.mat-card-content {
  color: #333;
}

.mat-card-title {
  color: #333;
}

.card-content {
  margin: 0 auto;
  width: 100%;
  display: flex;
  float: left;
  align-items: center;
  width: 50%;
  height: 218px;
}

i {
  color: #32ad41;
  font-weight: bold;
  font-size: 25px;
  margin-right: 5px;
  opacity: 0.5;
}

table {
  width: 100%;
  align-items: center;
  margin: 20px;
  justify-content: center;
  text-align: center;

  td {
    width: 50%;
    height: 60px;
    text-align: left;
    border-bottom: 1px solid #b692c5;
    margin: 10px;

    p {
      margin-left: 30px;
    }
  }
}

.mat-list-item {
  width: 100%;
  border-bottom: 1px solid $colorTxt;
}

.container-flex {
  display: flex;
  justify-content: center;

  .caja {
    display: flex;
    width: 25%;
    height: 80px;
    margin: 15px;
    padding: 5px;
    line-height: 90px;
    border: 2px solid $colorTxt;
    border-radius: 10px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);

    div {
      margin: 0 auto;
      width: 100%;
      display: block;
      justify-content: center;
    }

    img {
      float: left;
      width: 50px;
      height: 50px;
    }

    span {
      font-size: 12px;
      color: rgb(43, 39, 39);
      font-weight: bolder;
      text-decoration: overline cornsilk;
    }
  }
}

P {
  color: #8e44ad;
  font-size: 18px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 0%;
}
