<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar><i class="fas fa-rainbow"></i>Dashboard</mat-toolbar>
    <form  (submit)='sendLocation(cityName)'>
    <mat-form-field floatLabel="never" color="accent">
      <mat-label style="color: #d0d5db;">City name</mat-label>
      <input matInput name="ciudad" #cityName autocomplete="off">
      <button class="boton-buscar">
        <i class="fas fa-search"></i>
      </button>
    </mat-form-field>
  </form>

    <mat-nav-list>
      <a mat-list-item href="#"><i class="fas fa-smog"></i>Weather</a>
        <a mat-list-item href="#"><i class="fas fa-coins"></i>Coin</a>
          <a mat-list-item href="#"><i class="fas fa-language"></i>Language</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
              <i class="fas fa-city"></i>{{weatherRes.name}}

     <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

    </mat-toolbar>


    <app-dashboard [weather]="weatherRes"></app-dashboard>


  </mat-sidenav-content>
</mat-sidenav-container>
